.vs/azure web app/FileContentIndex/bdb86171-4c38-4c77-9831-62887deb9561.vsidx
.vs/azure web app/FileContentIndex/dc4a140e-f1f3-41b8-b0d3-de833cdc4df5.vsidx
.vs/azure web app/FileContentIndex/read.lock
.vs/azure web app/v17/.suo
azure web app.sln
azure web app/azure web app.pyproj
